@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.menu{
    font-family: 'Montserrat',sans-serif;
}
.text-main{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    font-weight: bold;
}
#desejo-participar-btn-main{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.title-quem-somos{
    color: #09BDB2;
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 58.51px; 
}
.text-box-quem-somos{
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 24px;
    line-height: 25.18px;
}


.destaque{
    color: #09BDB2;
}


/* funciona pra mim*/

.title-funciona-para-mim{
    color: #09BDB2;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 58.51px; 
}
.text-funciona-para-mim{
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 25px;
}
.list-funciona-para-mim{
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 25px;
}
/* COMO FUNCIONA*/

.title-como-funciona{
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 48.76px;
    color: #09BDB2;

}
.text-como-funciona{
    
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 25px;
}
.btn-saiba-mais{
    font-family: 'Montserrat';
    font-size: 30px;
    line-height: 28px;
    color: white;
}

/*tecnologias*/

.titulo-tecnologias{
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 38px;
    color: #09BDB2;
}

.title-vale-a-pena{
    font-family:'Roboto';
    color: #09BDB2;
    font-size: 48px;
    line-height: 65px;
}

/* vale a pena ?*/
.nome-mentorado{
    font-family:'Montserrat';
    font-size: 24px;
    line-height: 30px;
}
.funcao-mentorado{
    font-family:'Montserrat';
    font-size: 16px;
    line-height: 19px;
    color: #09BDB2;
}
.descricao-mentorado{
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 32px;
}

/*JUNTE-SE A NOS*/

.title-junte-se{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: white;
}

.text-junte-se{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.junte-se-a-nos-btn{
    
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}



/* FOOOTER*/

.footer-contatos h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2px;
}
.footer-contatos li{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.footer-menu h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2px;
}
.footer-menu li{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
}