*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    
    display: flex;
    justify-content: center;
}

nav{
    width: 100%;
    border-bottom: 3px solid rgb(233, 232, 232);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: white ;
    z-index: 100;

}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-wrap: wrap;
    color: black;
    
    
}
.logo{
    width: 140px;
    height: 78.68px; 
    
}
.menu a{
    margin-left: 59px;
    text-decoration: none;
    color: black;
    
}

#desejo-participar-btn{
    background: linear-gradient(180deg, #09BDB2 0%, #06857D 100%);
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    padding: 6.5px 40px 6.5px 40px;
    border-radius: 15px;
    color: white;
}
/*Desejo participar*/

.alinhamento-text-btn{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.alinhamento-image-conteudo{
    width: 100%;
    height: 100%;
    padding:4% 0 4% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
.text-main{
    margin-top: 40px;
    max-width: 619px;
    
}
#desejo-participar-btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    background: linear-gradient(180deg, #09BDB2 0%, #06857D 100%);
    border-radius: 15px;
    width: 405px;
    height: 93px;
    text-decoration: none;
    cursor: pointer;
}
aside .hero{
    width: 522px;
    height: 522px;
    padding-left: 10%;
    margin-top: 84px;
}

/* QUEM SOMOS */
.conteudo-quem-somos{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin-top: -72px;
    
}

.text-box-quem-somos{
    margin-top: 72px;
    max-width: 527px;

}
.hero2{
    padding-left: 10%;
    width: 413px;
    height: 613px;
    z-index: 99;
}
.first-rectangle{
    background-color: #06857D;
    width: 360.95px;
    height: 101.56px;
    left: 24px;
    top: 117px;
    z-index: -1;
    position: relative;
}
.seconf-rectangle{
    background-color: #06857D;
    width: 360.95px;
    height: 101.56px;
    left: 66px;
    top: -119px;
    z-index: -1;
    position: relative;
}

/* FUNCIONA PRA MIM */

.title-funciona-para-mim{
    max-width:590px;
    padding-bottom: 57px;
    padding-top: 90px;
}
.conteudo-funciona-para-mim{
    display: flex;
    flex-direction: column;
    padding-left: 76px;
    

}
.text-funciona-para-mim{
    max-width: 660px;
    
}
.list-funciona-para-mim{
    max-width: 660px;
    position: relative;
    left: 50px;
    padding-bottom: 100px;
}

/* COMO FUNCIONA*/


.conteudo-como-funciona{
    display:flex;
    flex-direction: column;
}
.title-como-funciona{
    position: relative;
    bottom:81px ;
}
.text-como-funciona{
    max-width: 548px;
    
}
.btn-saiba-mais{
    position: relative;
    top:80px;
    width: 268px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 50px;
    gap: 8px;
    background: linear-gradient(180deg, #09BDB2 0%, #06857D 100%);
    border-radius: 15px;
}

.alinhamento-image-conteudo-como-funciona{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4%;
}

/*TECNOLOGIAS QUE DOMINAMOS*/
.titulo-tecnologias{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    padding-bottom:40px ;
    
}
.card-menor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 361px ;
    height: 117px;
    background-color:#F4FFFE ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.card-maior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 438px ;
    height: 117px;
    background-color:#F4FFFE ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 24px 20px 24px 20px;
}
/* NOSSOS PARCEIROS*/

.title-parceiros{
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 59px;
    color:#09BDB2 ;
    margin-top: 42px;
    display: flex;
    justify-content: center;
}
.alinhamento-parceiros{
    display: flex;
    flex-direction: column;
}
.cards-parceiros{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 102px;
}
.card-parceiro{
    display: flex;
    justify-content: center;
    width: 285px;
    height: 284px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 10px;
}

/* A REMOTE VALE A PENA ?*/

.vale-a-pena{
    margin-top: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.alinhamento-vale-a-pena{
    margin-top: 146px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.video{
    
    background-color: #787878;
    width: 586px;
    height: 462px;
    border-radius: 20px;
}

.card-mentorados{
    
    display: flex;
    flex-direction: row;
    width: 463px;
    height: 402px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: -4px 10px 40px rgba(0, 0, 0, 0.4);
    margin-left: 129px;
}
.foto{
    width: 64px;
    height: 68px;
    margin: 31px 18px 0 34px;
}
.nome-mentorado{
    position: relative;
    top: 42px;
}
.funcao-mentorado{
  margin-top: 42px;
    
}
.descricao-mentorado{
    width: 296px;
    margin-top: 6px;
}

/* JUNTE-SE A NOS*/

.junte-se-a-nos{
    margin-top: 215px ;
    background-color: #6366F1;
    width: 100%;
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.alinhamento-junte-se{
    display: flex;
    align-items: center;
    
}
.junte-se-a-nos-btn{
    margin-left: 410px;
    padding: 16px 28px;
    gap: 10px;
    border: 1px solid #B7B5B5;
    border-radius: 15px;
    
}

/* FOOTER*/
footer{
    width: 100%;
    background-color:#06857D ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: 350px;

}
.logo-branco{
    width: 407px;
    height: 229px;
}
.footer-menu {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 210px;
}
.footer-menu h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2px;
}
.footer-menu li{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.footer-contatos{
    height: 210px;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-contatos h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2px;
}
.footer-contatos li{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.redes-sociais img {
    padding-right: 36px;
}





hr{ 
    border: 0.5px solid #09BDB2; 
    
}
.copyright{ 
    width: 100%;
    background-color:#06857D ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 41px;
    padding-bottom: 37px;
}